
body{
    background-color:white;
}
.container-master {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
   
    
    
    
   
    
}
.container-header{
   background-image:url("https://previews.123rf.com/images/cherezoff/cherezoff1601/cherezoff160100293/50192566-codificaci%C3%B3n-de-la-aplicaci%C3%B3n-por-el-desarrollador-programador-c%C3%B3digo-de-programaci%C3%B3n-abstracta-fond.jpg");
   background-repeat: cover;
   width: 100%;
   height: 30%;
   display: flex;
   justify-content: flex-start;



}

.container-logo {
    width: 40%;
    height: 100%;
    display: flex;

}  
    

.container-button {
    width: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    

    
    
}
li{
    display: inline-block;
    margin: 60px;
    list-style: none;
 
}

ul {
    color: rgb(255, 255, 255);
    background-color:transparent;
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px; 
   

}
.container-section {
    width: 100%;
    height: 50%;
    margin: 12px;
    background-color:rgb(248, 190, 123);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}     


.container-section2 {
    width: 100%;
    height: 50%;
    background-color: rgb(228, 222, 222);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin: 10px;


}


.container-slogan{
width: 60%;
height: 60%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;



}
.container-button2{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
   
}

.b1{
    
    background-color: rgb(179, 26, 26);
    border: 5px;
    border-radius: 15px;
    margin: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color:white;
    size: 200px;
    font-size:50px ;
}
 .b2{
    background-color: rgb(255, 255, 255);
    border: 5px;
    border-radius: 15px;
    margin: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color:rgb(5, 5, 5);
    size: 200px;
    font-size:50px ;
 }



h2{
    font-size: 80px;
    margin: 30px;
    color: rgb(231, 63, 34);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h4 {
font-size:40px;
margin: 5px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(0, 0, 0);


}
H5 {
    color: rgb(240, 166, 6);
    margin: 5PX;

}

.container-pie{
    height: 20%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
