
body{
    background-color:transparent;
}
.container-master {
    background-color: rgb(236, 211, 181);
    width: 100%;
    height: 150%;
    display: flex;
    background-repeat: cover;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: scroll;
    
    
    
   
    
}
.container-header{
   background-image:url("https://previews.123rf.com/images/cherezoff/cherezoff1601/cherezoff160100293/50192566-codificaci%C3%B3n-de-la-aplicaci%C3%B3n-por-el-desarrollador-programador-c%C3%B3digo-de-programaci%C3%B3n-abstracta-fond.jpg");
   background-repeat: cover;
   width: 100%;
   height: 30%;
   display: flex;
   justify-content: flex-start;



}

.container-logo {
    width: 40%;
    height: 100%;
    display: flex;

}  
    

.container-button {
    width: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap:nowrap;
    
}

input {
    color: rgb(255, 255, 255);
    background-color:transparent;
    width: 40%;
    height: 50%;
    border: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px; 
   

}
.container-section {
    width: 90%;
    height: 40%;
    margin: 12px;
    background-color:transparent;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}     


.container-section2 {
    width: 90%;
    height: 40%;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    margin: 7px;


}


.container-slogan{
width: 50%;
height: 50%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;



}
.container-button2{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
   
}

.b1{
    
    background-color: rgb(179, 26, 26);
    border: 5px;
    border-radius: 15px;
    margin: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color:white;
    size: 200px;
    font-size:80px ;
}
 .b2{
    background-color: rgb(255, 255, 255);
    border: 5px;
    border-radius: 15px;
    margin: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color:rgb(5, 5, 5);
    size: 200px;
    font-size:80px ;
 }



h2{
    font-size: 80px;
    margin: 30px;
    opacity: 1;
    color: rgb(231, 63, 34);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h4 {
font-size:40px;
margin: 5px;
opacity: 1;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(0, 0, 0);

}

